html {
  /* The image used */
  background-image: url(../images/Tent-Ridge-Horseshoe.jpeg);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.fullPage {
  /* Full height */
  height: 100%;
}
